.menu{
    background-color: #e8e8e8;
    border-radius: 10px;
}

.card{
    /* estilos div */
    background-color: rgb(222, 205, 180);
    width: 300px; /* espacio que ocupa */
    border-radius: 10px; /* bordeado */
    /*  padding-left: 20px; movel elemento */
    /* estilo de texto */
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra */
    color: #302f2f;
}

.card img{
    width: 90%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover; /* para que la imagen no se estire */
}

.text-card p{
    font-size: 14px;
    margin-bottom: 20px;
}

.button{
    padding: 10px 20px;
    text-decoration: none;
}