body{
    margin: 10px;
}
.menu{
    background-color: #e8e8e8;
    border-radius: 10px;
}

.card{
    /* estilos div */
    background-color: rgb(255 235 206);
    border: 1px solid #302f2f;
    width: 300px; /* espacio que ocupa */
    border-radius: 10px; /* bordeado */
    /*  padding-left: 20px; movel elemento */
    /* estilo de texto */
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra */
    color: #302f2f;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover; /* para que la imagen no se estire */
}
.text-card{
    padding: 20px;
}

.text-card p{
    font-size: 14px;
}

.button{
    padding: 10px 20px;
    text-decoration: none;
}

.button button{
    border-radius: 15px;
    background-color: #000;
    color: white ;
    padding:10px 20px;
    cursor: pointer;
}

.button button:hover{
    background-color:rgb(241, 241, 245) ;
    color: black;
    opacity: 0.8;
}

.container{
    padding: 20px;
}